{% extends "layout.njk"%}
  {% block content %}
    <div id="wrapper">
      <img src="https://avatars3.githubusercontent.com/u/70660155?s=400&u=9a58439795cecc0f1ad6b0082f483bb0c0ff3b6b&v=4" alt="">
      <h1>
        UlissesMs
      </h1>
      <H2>Devops</H2>
      <p>Focado em cloud computer - aws,azure,digitalocean e google cloud. </p>
    </div>
    <div id="links-footer" class="links">
      <a href="https://github.com/ulissesms" target="blank">GitHub</a>
      <a href="https://twitter.com/ulissesms_pro" target="blank">Twitter</a>
      <a href="https://linkedin.com/in/ulisses-marcondes/" target="blank">LinkedIn</a>
    </div>
{% endblock %}